.terms-container3 {
    max-width: cover;
    margin: 0 auto;
    padding: 2rem;
    background: #7393B3;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .terms-title3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #333;
    text-align: center;
  }
  
  .terms-content3 {
    font-size: 1.3rem;
    color: #222222;
    line-height: 1.5;
  }
  
  .terms-content3 p {
    margin-bottom: 1rem;
  }
  
  .terms-content3 ul {
    margin-bottom: 1rem;
    padding-left: 20px;
  }
  
  .terms-content3 ul li {
    margin-bottom: 0.5rem;
  }
  